.create-car {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    align-content: center;
    align-items: center;
    padding: 5px 50px 30px;
    gap: 20px;
    font-size: 20px;
}

#root label {
    font-family: var(--font-family);
    display: flex;
    margin-bottom: 0;
    width: 15%;
}

.create-car-options {
    display: flex;
    align-items: center;
    width: 70%;
}

.car-options {
    display: flex;
    align-content: center;
    margin-bottom: 0;
}

.create-car-price {
    position: absolute;
    top: 80vh;
    left: 50px;
    width: 300px;
    height: 80px;
    background-color: var(--primary);
    border: 3px solid black;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2em;
}

.create-car-name {
    display: flex;
}

#root input[type="text"] {
  font-family: var(--font-family);
  width: 50%;
  height: 40px;
  font-size: .75em;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
  display: flex;
  align-self: center;
}

#root input[type="submit"] {
  font-family: var(--font-family);
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid transparent;
  margin: 10px;
  width: max-content;
}

.grid .grid-item.selected {
    border-color: green;
    border-width: 2px;
    border-style: solid;
    transform: scale(1.05);
}