main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-title img {
    margin-right: 10px;
}

.details-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 40px;
    row-gap: 40px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: white;
}

.car-selection {
  width: 400px;
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.car-selection-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  opacity: 0;
  transition: all .5s;
}

.car-selection-details {
  transform: translateY(50px);
  transition: all .7s;
}

.car-selection:hover .car-selection-overlay{
    opacity: 1
}

.car-selection:hover .car-selection-details {
  transform: translateY(0); 
  opacity: 1; 
}

.option-price {
    font-weight: 500;
}

.car-modify {
    display: flex;
    flex-direction: row;
    height: 80px;
}

article {
    width: 90vw;
    height: auto;
    text-align: left;
    margin-bottom: 5px;
}

/* ----- Edit Card ----- */
.header-buttons {
    display: flex;
    flex-direction: row;
}

/* Style Modal Content */
.custom-modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.custom-modal-content button{
    width: 100px;
    height: 70px;
}

.custom-modal-overlay {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    border: 4px solid rgb(115,2,12);
    border-radius: 4px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
}

.custom-modal-overlay .grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
}

.grid .grid-item {
    width: 140px;
    height: 90px;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.grid .grid-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    padding: 5px;
    color: #fff;
    opacity: 0;
    transition: all .5s;
}

.grid .grid-item-detail {
    width: 100%;
    height: 100%;
    bottom: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid .grid-item.selected {
    border-color: green;
    border-width: 2px;
    border-style: solid;
    transform: scale(1.05);
}

.grid .grid-item:hover .grid-item-overlay {
    opacity: 1;
}

.grid .grid-item:hover .grid-item-detail {
    opacity: 1;
}

.grid p {
    font-size: 12px;
}